.container {
    display: grid;
    grid-template-columns: 200px 1% 1fr;
    grid-template-rows: auto 15px auto 15px auto 15px auto;
}

.header, .footer, .sidebar, .main {
    padding: 5px;
    border: 1px solid pink

}
.header, .footer {
    grid-row-start: 1;
    grid-column-end: 6; 
}

.header {
    grid-row: 1;
}
.footer {
    grid-row: 7;
}
.sidebar {
    grid-column: 1;
    grid-row: 5;
}

.main {
    grid-column: 5;
    grid-row: 5;
}
.autopresentacion {
    grid-column: 1;
    grid-row: 4;
}

.gallery__img {
    width: 30%;
    height: 10%;
    object-fit: cover;
}




