*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(43, 42, 42);
}

#convertidor{
    background: #eb94d0;;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
width: 95px;
height: 55px;
margin: 10px;
border: 1px solid whitesmoke;
}

#calculador{
    background: #eb94d0;;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
width: 95px;
height: 55px;
margin: 10px;
border: 1px solid whitesmoke;
}

tr, td {
    width: 35%;
    text-align: left;
    vertical-align: top;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    padding: 0.3em;
}
caption {
    padding: 0.3em;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
    background: rgb(145, 83, 93);
    color: #fff;
}

.GeneralBox{
    height: 850px;
    width: 1052px;
    margin: auto;
    border: 1px solid whitesmoke;
    align-items: center;
    background-color: rgb(75, 72, 72);
}

h1{
    text-align: center;
    margin: 30px;
    color: rgb(201, 99, 241);
}

.BoxOne{
    text-align: center;
    height: 300px;
    width: 700px;
    margin: 50px 18%;
    border: 1px solid whitesmoke;
    padding: 30px;
}

input{
    color: beige;
}

.BoxTwo{
    text-align: center;
    height: 300px;
    width: 700px;
    margin: 50px 18%;
    border: 1px solid whitesmoke;
    padding: 30px;
}