*{
    padding: 200;
    margin: 200;
    box-sizing: border-box;
    background-color: rgb(59, 218, 183);
    text-align: center;
    }


    .Producto {
        box-sizing: border-box;
        text-decoration: double;
        border:rgb(39, 37, 37) 20px double;
        padding: 150px;
    }
    .Imagenes {
        box-sizing: border-box;
        text-decoration: double;
        border:rgb(39, 37, 37) 10px double;
        padding: 70px;
    }