

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: black;
    display: flex;
    height: 100%;
    width: 100%;
}

.box {
    width: 80%;
    margin: 1rem 10% ;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.boton {
    float: left;
    margin: 3rem;
    padding: 1rem;
    background-color: maroon;
    font-weight: bolder;
}

.tabla {
    margin: auto;
    background-color: white;
}

th {
    width: 150px;
}

